<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      img {
         width: 100%;
         height: auto;
      }
   </style>
</head>

<body>
         <h1>
            <%= p.name %>
         </h1>
        <% if (!p.mimetype) { %>
            <h2>No image</h2>
        <% } else { %>
            <img src="data:<%= p.mimetype %>;base64, <%= p.image %>">
            <% } %>
        <p>Restaurant_id: <%= p.id%></p>
        <p>Borough: <%= p.borough%></p>
        <p>Cuisine: <%= p.cuisine%></p>
        <p>Address: 
            <ul>
            <li>street: <%= p.address.street%></li>
            <li>building: <%= p.address.building%></li>
            <li>zipcode: <%= p.address.zipcode%></li>
            </ul>
        </p>
        <p>Rating:
            <% if (p.grade){ %>
            <ol>
                    <% for (var i in p.grade) { %>
                        <li><b><%=p.grade[i].user %></b> rated <b><%=p.grade[i].score%></b></li> 
                    <% } %>
            </ol>
            <% }%>
        </p>
        <p> Owner: <%= p.owner%></p>
        <% if(p.gps.coordlat && p.gps.coordlon) { %>
        <p> GPS: <%= p.gps.coordlat%> , <%= p.gps.coordlon%> </p>
        <% if (lat != -1 && lon != -1) { %>
        <h3>
            <a href='/map?lat=<%=lat%>&lon=<%=lon%>'>
                Go to Google Map
            </a>
        </h3>
        <% }} %>
        <table>
        <tr>
            <td><a href="/rate?_id=<%= p ._id%>">
            <button class="btn btn-default">Rate</button>
            </a></td>
            <td><a href="/edit?_id=<%= p ._id%>">
            <button class="btn btn-default">Edit</button>
            </a></td>
            <td><a href="/delete?_id=<%= p ._id%>">
            <button class="btn btn-default">Delete</button>
            </a></td>
            <td><a href="/read">
            <button class="btn btn-default">Go Back</button>
            </a></td>
        </tr>
        </table>
</body>
</html>