<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      img {
         width: 100%;
         height: auto;
      }
   </style>
</head>

<body>
         <h1>
            <%= p.name %>
         </h1>
        <% if (p.image) { %>
            <img src="data:<%= p.mimetype %>;base64, <%= p.image %>">
        <% } else { %>
            <h2>No image</h2>
            <% } %>
        <p>Restaurant_id: <%= p.id%></p>
        <p>Borough: <%= p.borough%></p>
        <p>Cuisine: <%= p.cuisine%></p>
        <p>Address: 
            <ul>
            <li>street: <%= p.address.street%></li>
            <li>building: <%= p.address.building%></li>
            <li>zipcode: <%= p.address.zipcode%></li>
            <li>coord: <%= p.address.coord%></li>
            </ul>
        </p>
        <p> Owner: <%= p.owner%></p>
        <h2>EXIF Data</h2>
        <% if ('exif' in p && Object.keys(p.exif).length !== 0) { %>
        <h3>Make/Model:
            <%= p.exif.image.Make %> /
            <%= p.exif.image.Model %>
        </h3>
        <h3>Date/Time:
            <%= p.exif.exif.DateTimeOriginal %>
        </h3>
        <% if (lat != -1 && lon != -1) { %>
        <h3>GPS:
            <a href='/map?lat=<%=lat%>&lon=<%=lon%>&title=<%=p.title%>'>
                <%=lon%>, <%=lat%>
            </a>
        </h3>
        <% } %>
        <% } else { %>
        <h3>none</h3>
        <% } %>

</html>