<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Update restaurants - <%= p.name%></title>
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="/" class="w3-bar-item w3-button"><b>
                    <h1>Update restaurants - <%= p.name%></h1>
                </b></a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="/read" class="w3-bar-item w3-button">Go Back</a>
            </div>
        </div>
    </div>


    <div class="w3-container w3-padding-32" id="projects">

        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Login</h3>
        <p>Update information for - <%= p.name%></p>
        <form action="processedit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= p._id%>">
            <input type="hidden" name="owner" value=<%= owner%>>
            <p>Name</p>
            <input class="w3-input w3-border" type="text" name="name" minlength=1 required value="<%=p.name%>"
                placeholder="<%=p.name%>">
            <p>Borough</p>
            <input class="w3-input w3-border" type="text" name="borough" value="<%=p.borough%>"
                placeholder="<%=p.borough%>">
            <p>Cuisine</p>
            <input class="w3-input w3-border" type="text" name="cuisine" value="<%=p.cuisine%>"
                placeholder="<%=p.cuisine%>">
            <p>Address</p>
            <p>Street</p>
            <input class="w3-input w3-border" type="text" name="street" value="<%=p.address.street%>"
                placeholder="<%=p.address.street%>">
            <p>Building</p>
            <input class="w3-input w3-border" type="text" name="building" value="<%=p.address.building%>"
                placeholder="<%=p.address.building%>">
            <p>Zipcode</p>
            <input class="w3-input w3-border" type="text" name="zipcode" value="<%=p.address.zipcode%>"
                placeholder="<%=p.address.zipcode%>">
            <p>GPS Coordinates (lon.)</p>
            <input class="w3-input w3-border" type="number" step="any" name="coordlon" value="<%=p.gps.coordlon%>"
                placeholder="<%=p.gps.coordlon%>">
            <p> GPS Coordinates (lat.)</p>
            <input class="w3-input w3-border" input type="number" step="any" name="coordlat" value="<%=p.gps.coordlat%>"
                placeholder="<%=p.gps.coordlat%>">
            <p>Change photo</p>
            <input class="w3-input w3-border" type="file" name="filetoupload">
            <button class="w3-button w3-black w3-section" type="submit" value="update">
                <i class="fa fa-paper-plane"></i> Update
            </button>
        </form>
    </div>

    <!--
    <form action="processedit" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= p._id%>">
        Name: <input type="text" name="name" minlength=1 required value="<%=p.name%>"><br>
        borough: <input type="text" name="borough" value="<%=p.borough%>"><br>
        cuisine: <input type="text" name="cuisine" value="<%=p.cuisine%>"><br>
        address: <br>
        street: <input type="text" name="street" value="<%=p.address.street%>"><br>
        building: <input type="text" name="building" value="<%=p.address.building%>"><br>
        zipcode: <input type="text" name="zipcode" value="<%=p.address.zipcode%>"><br>
        GPS Coordinates (lon.): <input type="number" step="any" name="coordlon" value="<%=p.gps.coordlon%>"><br>
        GPS Coordinates (lat.): <input type="number" step="any" name="coordlat" value="<%=p.gps.coordlat%>"><br>
        <input type="hidden" name="owner" value=<%= owner%>><br>
        Change photo: <input type="file" name="filetoupload"><br>
        <input type="submit" value="Update">
    </form>

-->
</body>

</html>